**/src
**/pkg
**/*.pkg.tar.*
**/*.log
archive-pkgs/n64sdkmod
makemask/makemask
mips-n64-binutils/binutils-*.tar.xz
mips-n64-gcc/gcc-*.tar.xz
mips-n64-gcc-stage1/gcc-*.tar.xz
mips-n64-newlib/newlib-*.tar.gz
vadpcm-tools/sdk-tools
spicy/spicy
n64graphics/n64sdkmod
n64sdkmod/n64sdkmod
nusys/n64sdkmod
libhvq/n64sdkmod
libmus/n64sdkmod
libnustd/n64sdkmod
n64-conv-tools/n64sdkmod
n64-midi-tools/n64sdkmod
rsp-tools/n64sdkmod
qemu-irix/qemu-irix
libstdc++296/libstdc++296-i686.rpm
rspcode-src/rspcode-src.deb
libcart/libcart
unfloader/N64-UNFLoader
